.gameContainer {
  background: url(https://images.unsplash.com/photo-1613771404784-3a5686aa2be3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  column-count: 2;
  column-gap: 2rem; */
  display: grid;
  grid:
    [board] ' message board board' minmax(20vh, auto) [board]
    [board] '. board board' minmax(20vh, auto) [board]
    [leave] '. board board' minmax(10vh, auto) [leave]
    [leave] 'leave board board' minmax(5vh, auto) [leave]
    [leave] '. . .' minmax(3vh, auto) [leave]
    / 15vw 75vw 5vw;
}

.str-chat__list {
  grid-area: message;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 5px;
  height: 5rem;
  overflow: hidden;
  overflow-y: scroll;
}

.board {
  grid-area: board;
  background-color: rgba(252, 252, 252, 0.426);
  border: 1px solid black;
  
  display: flex;
  flex-direction: column;
}

.board>*{
  background-color: rgba(252, 252, 252, 0.426);

}

.leave-game {
  grid-area: leave;
  font-size: xx-large;
  min-height: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  background-color: rgb(246, 10, 10);
  color: white;
  align-self: center;
  justify-self: center;

}

.str-chat__main-panel {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
}
.str-chat__main-panel > * {
  min-width: 90% !important;
}
.str-chat__list ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.str-chat__list li {
  list-style-type: none;
  background-color: lightgrey;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.str-chat__list .str-chat__message-simple-status {
  display: none;
}

.str-chat__list .str-chat__avatar {
  display: none;
}

.str-chat__message-text-inner {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.str-chat__message-data {
  margin-bottom: 20px;
}
.str-chat__message-data span {
  margin-left: 5px;
}

.str-chat__message-data time {
  margin-left: 5px;
}

.str-chat__input-flat {
  width: 100%;
  height: 10%;
  background-color: lightgrey;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.str-chat__input-flat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.str-chat__input-flat-wrapper textarea {
  resize: none;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 0 1px black;
  padding: 10px;
  font-size: 15px;
}

.str-chat__message-simple__actions {
  width: 100%;
  padding-left: 5px;
  margin-top: 5px;
}
.str-chat__message-simple__actions__action--reactions {
  display: flex;
  align-items: center;
  width: fit-content;
  background: #ffffff;
  border: 1px solid #e9e9ea;
  box-sizing: border-box;
  border-radius: 50vw;
  padding: 6px 6px 4px 6px;
  z-index: 3;
  cursor: pointer;
}

.str-chat__message-reactions-list {
  display: flex;
}

.str-chat__reaction-list--counter {
  display: none;
}
.str-chat__reaction-list--reverse button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.str-chat__message-reactions-list-item {
  margin-left: 10px;
  border: none;
  border-radius: 50vw;
  width: 30px;
  height: 30px;
}
.str-chat__message-reactions-list-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emoji-mart-emoji-custom span {
  height: 15px !important;
  width: 15px !important;
}


.chosen-pokemon-yours{
  max-width: 20rem;
  min-width: 20rem;
  background-size: contain;
  background-repeat: no-repeat;
  /* background: red; */
  user-select: none;
}